@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.container {
  margin: 0 auto;
  width: 100%;
  padding-inline: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-inline: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
    padding-inline: 0;
  }
}
/*--- global ---*/
.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contacts__container {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  font-family: "DM Sans";
  font-weight: 500;
  color: rgb(144, 126, 130);
  text-decoration: none;
}

.contacts__list {
  z-index: 3;
  padding-left: 0px;
  margin: 0;
}
.contacts__list-days {
  padding-left: 0%;
  display: flex;
  flex-direction: column;
}
.contacts__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 35px -8px rgb(255, 184, 202);
  border-radius: 20px;
}
.contacts__item {
  padding: 0px;
  display: grid;
}
.contacts__item:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}
.contacts__item:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}
.contacts__item:nth-child(3) {
  grid-column: 1;
  grid-row: 3;
}
.contacts__email-tel {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

.contacts__none-header {
  visibility: hidden;
  font-size: 1px;
  margin: 0px;
  padding: 0px;
}

h3 {
  font-weight: 500;
  font-family: "DM Sans";
}

.contacts__header-caffe {
  color: rgb(255, 255, 255);
  width: 80px;
  height: 16px;
  background-color: rgb(240, 209, 165);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.contacts__header-truck {
  color: rgb(255, 255, 255);
  width: 130px;
  height: 16px;
  background-color: rgb(194, 226, 151);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.contacts__header-article {
  color: rgb(0, 0, 0);
}
.contacts__header-days {
  color: rgb(0, 0, 0);
}

article p {
  font-weight: 500;
  color: rgb(144, 126, 130);
  font-family: "DM Sans";
}

.contacts__p-days {
  font-family: "DM Sans";
  color: rgb(255, 165, 186);
}
.contacts__chicago {
  font-family: "DM Sans";
  font-weight: 500;
  color: #a5deff;
}

button {
  cursor: pointer;
}

.contacts__buttons {
  z-index: 3;
  display: flex;
}
.contacts__button-location {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  width: 161.45px;
  height: 44px;
}
.contacts__button-location span {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: rgb(212, 20, 67);
}
.contacts__button-franchise {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border: 0px;
  width: 161.45px;
  height: 44px;
  border-radius: 25px;
}
.contacts__button-franchise span {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: rgb(212, 20, 67);
}
.contacts__button-location {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13.17px;
  margin-bottom: 10px;
}
.contacts__button-location svg {
  width: 10px;
  height: 10px;
  fill: rgb(212, 20, 67);
}
.contacts__button-franchise {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13.17px;
}
.contacts__button-franchise svg {
  width: 10px;
  height: 10px;
  fill: rgb(212, 20, 67);
}
.contacts__button-franchise:hover {
  background-color: rgb(212, 20, 67);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.contacts__button-franchise:hover span {
  color: rgb(255, 255, 255);
}
.contacts__button-franchise:hover svg {
  fill: rgb(255, 255, 255);
}
.contacts__button-franchise:focus {
  outline: none;
  background-color: rgb(212, 20, 67);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.contacts__button-franchise:focus span {
  color: rgb(255, 255, 255);
}
.contacts__button-franchise:focus svg {
  fill: rgb(255, 255, 255);
}
.contacts__button-location:hover {
  background-color: rgb(212, 20, 67);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.contacts__button-location:hover span {
  color: rgb(255, 255, 255);
}
.contacts__button-location:hover svg {
  fill: rgb(255, 255, 255);
}
.contacts__button-location:focus {
  outline: none;
  background-color: rgb(212, 20, 67);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.contacts__button-location:focus span {
  color: rgb(255, 255, 255);
}
.contacts__button-location:focus svg {
  fill: rgb(255, 255, 255);
}

/*------*/
/*--- mobile-set ---*/
/*... grid-set ...*/
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contacts__list {
    align-items: center;
    justify-content: center;
    display: grid;
    gap: 20px;
  }
  .contacts__list > :nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .contacts__list > :nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }
  .contacts__list > :nth-child(3) {
    grid-column: 1;
    grid-row: 3;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contacts__list {
    padding-bottom: 54px;
  }
  .contacts__list-item {
    width: 220px;
    height: 427px;
    padding: 20px 21px 30px 20px;
  }
  .contacts__item {
    gap: 40px;
  }
  .contacts__list-days {
    gap: 10px;
    margin-top: 15px;
  }
  .contacts__email-tel {
    margin-top: 10px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  a {
    font-size: 12px;
    line-height: 1.5;
  }
  article p {
    font-size: 12px;
    line-height: 1.5;
    margin: 0%;
  }
  .contacts__p-days {
    font-size: 12px;
    line-height: 1.86;
    margin: 0;
  }
  .contacts__header-article {
    font-size: 12px;
    line-height: 1.86;
    margin-bottom: 10px;
  }
  .contacts__header-days {
    font-size: 12px;
    line-height: 1.86;
    margin: 0%;
  }
  .contacts__header-caffe {
    font-size: 16px;
    line-height: 1.86;
    margin-top: 25px;
  }
  .contacts__header-truck {
    font-size: 16px;
    line-height: 1.86;
    margin-top: 25px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .article-item {
    position: relative;
  }
  .article-item::after {
    content: "";
    position: absolute;
    top: 110px;
    background-color: #e1e1e1;
    width: 179px;
    height: 0.5px;
  }
  .days-item {
    position: relative;
  }
  .days-item::after {
    content: "";
    position: absolute;
    top: 140px;
    background-color: #e1e1e1;
    width: 179px;
    height: 0.5px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contacts__buttons {
    flex-direction: column;
    margin-bottom: 113px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contacts {
    position: relative;
  }
  .contacts .container-background {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .contacts .container-background .background {
    background-image: url("/images/Rectangle 7.png");
    width: 100%;
    height: 100%;
    margin-top: 43px;
  }
}
/*------*/
/*--- tablet-set ---*/
/*... grid-set ...*/
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__list {
    display: grid;
  }
  .contacts__list > :nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .contacts__list > :nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }
  .contacts__list > :nth-child(3) {
    grid-column: 3;
    grid-row: 1;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__list {
    gap: 20px;
    padding-bottom: 81px;
  }
  .contacts__list-item {
    width: 220px;
    height: 544px;
    padding: 50px 32px 50px 31px;
  }
  .contacts__list-item > :nth-child(1) {
    align-self: start;
  }
  .contacts__item {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .contacts__days {
    gap: 16px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  a {
    font-size: 14px;
    line-height: 1.8;
  }
  article p {
    font-size: 14px;
    line-height: 1.66;
    margin: 0%;
    margin-bottom: 10px;
  }
  .contacts__p-days {
    font-size: 14px;
    line-height: 1.86;
    margin-top: 0;
  }
  .contacts__header-article {
    font-size: 14px;
    line-height: 1.86;
    margin: 0;
  }
  .contacts__header-days {
    font-size: 14px;
    line-height: 1.86;
    margin: 0;
  }
  .contacts__header-caffe {
    font-size: 16px;
    line-height: 1.86;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .contacts__header-truck {
    font-size: 16px;
    line-height: 1.86;
    margin-top: 40px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__header-caffe {
    width: 73px;
    height: 28px;
  }
  .contacts__header-truck {
    width: 138px;
    height: 28px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__header-caffe {
    color: rgb(255, 255, 255);
    width: 73px;
    height: 28px;
    background-color: rgb(240, 209, 165);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }
  .contacts__header-truck {
    color: rgb(255, 255, 255);
    width: 138px;
    height: 28px;
    background-color: rgb(194, 226, 151);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    position: relative;
  }
  .contacts .container-background {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .contacts .container-background .background {
    background-image: url("/images/Rectangle 7.png");
    width: 100%;
    height: 100%;
    margin-top: 78px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .article-item {
    position: relative;
  }
  .article-item::after {
    content: "";
    position: absolute;
    top: 120px;
    background-color: #e1e1e1;
    width: 157px;
    height: 0.5px;
  }
  .days-item {
    position: relative;
  }
  .days-item::after {
    content: "";
    position: absolute;
    top: 145px;
    background-color: #e1e1e1;
    width: 157px;
    height: 0.5px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__buttons {
    gap: 14.5px;
    margin-bottom: 158px;
  }
}
/*------*/
/*--- PC-set ---*/
/*... grid-set ...*/
@media screen and (min-width: 1200px) {
  .contacts__list {
    display: grid;
  }
  .contacts__list > :nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .contacts__list > :nth-child(2) {
    grid-column: 2;
    grid-row: 1;
  }
  .contacts__list > :nth-child(3) {
    grid-column: 3;
    grid-row: 1;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__list {
    gap: 31px;
    padding-bottom: 86px;
  }
  .contacts__list-item {
    width: 330px;
    height: 572px;
    padding: 51px 44px 62px 43px;
  }
  .contacts__list-item > :nth-child(1) {
    align-self: start;
  }
  .contacts__item {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .contacts__list-days {
    gap: 15px;
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1200px) {
  a {
    font-size: 16px;
    line-height: 1.86;
  }
  article p {
    font-size: 16px;
    line-height: 1.86;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .contacts__p-days {
    font-size: 16px;
    line-height: 1.86;
    margin: 0;
  }
  .contacts__header-article {
    font-size: 16px;
    line-height: 1.86;
    margin-bottom: 0px;
  }
  .contacts__header-days {
    font-size: 16px;
    line-height: 1.86;
    margin: 0;
  }
  .contacts__header-caffe {
    font-size: 16px;
    line-height: 1.86;
  }
  .contacts__header-truck {
    font-size: 16px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__header-caffe {
    width: 73px;
    height: 28px;
  }
  .contacts__header-truck {
    width: 138px;
    height: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .article-item {
    position: relative;
  }
  .article-item::after {
    content: "";
    position: absolute;
    top: 140px;
    background-color: #e1e1e1;
    width: 234px;
    height: 0.5px;
  }
  .days-item {
    position: relative;
  }
  .days-item::after {
    content: "";
    position: absolute;
    top: 165px;
    background-color: #e1e1e1;
    width: 234px;
    height: 0.5px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__buttons {
    gap: 14.5px;
    margin-bottom: 113px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    position: relative;
  }
  .contacts .container-background {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .contacts .container-background .background {
    background-image: url("/images/Rectangle 7.png");
    width: 100%;
    height: 100%;
    margin-top: 102px;
  }
  .contacts .container-background-2 {
    margin: 0 auto;
    width: inherit;
    display: flex;
    position: absolute;
    width: 100%;
    height: 378px;
    bottom: 345px;
  }
  .contacts .container-background-2 .background-2 {
    background-image: url("/images/sectionbg2 1.png");
    z-index: 3;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */