<section class="containeradvantages">
  <h1 class="advantagessearchengines">BENEFITS</h1>
  <ul class="advatageslist">
    <li class="advatageslist__element">
      <img class="advantageslist__foto"src="/images/icon1.png" alt="">
      <h2 class="advantageslist__header">721</h2>
      <p class="advantageslist__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advatageslist__element">
      <img class="advantageslist__foto" src="/images/icon2.png" alt="">
      <h2 class="advantageslist__header">16kg</h2>
      <p class="advantageslist__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advatageslist__element">
      <img class="advantageslist__foto" src="/images/icon3.png" alt="">
      <h2 class="advantageslist__header">84</h2>
      <p class="advantageslist__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
