<section class="containeradvantages">
  <h1 class="advantagessearchengines">BENEFITS</h1>
  <ul class="advatageslist">
    <li class="advatageslist__element">
      
      <h2 class="advantageslist__header advantageslist__header--icon1">721</h2>
      <p class="advantageslist__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advatageslist__element">
    
      <h2 class="advantageslist__header advantageslist__header--icon2">16kg</h2>
      <p class="advantageslist__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advatageslist__element">
  
      <h2 class="advantageslist__header advantageslist__header--icon3">84</h2>
      <p class="advantageslist__text">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
