<section class="contacts">
  <h2 class="contacts__none-header">Contacts</h2>
  <div class="container-background">
    <div class="background"></div>
  </div>
  <div class="container-background-2"><div class="background-2"></div></div>
  <div class="container">
    <div class="contacts__container">
      <ul class="contacts__list">
        <li>
          <div class="contacts__list-item">
            <h3 class="contacts__header-caffe">CAFE</h3>
            <ul class="contacts__item">
              <li class="contacts__description-item">
                <div class="contacts__description">
                  <h4 class="contacts__header-description">Chicago</h4>
                  <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
              </li>
              <li class="contacts__days-item">
                <ul class="contacts__list-days">
                  <li>
                    <h4 class="contacts__header-days">Monday - Friday</h4>
                    <p class="contacts__p-days">06:00 AM - 10:00 PM</p>
                  </li>
                  <li>
                    <h4 class="contacts__header-days">Saturday - Sunday</h4>
                    <p class="contacts__p-days">08:00 AM - 16:00 PM</p>
                  </li>
                </ul>
              </li>
              <li class="contacts__item">
                <div class="contacts__email-tel">
                  <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                  <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="contacts__list-item">
            <h3 class="contacts__header-truck">FOODTRUCK</h3>
            <ul class="contacts__item">
              <li class="contacts__description-item">
                <div class="contacts__description">
                  <h4 class="contacts__header-description">Los Angeles</h4>
                  <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
              </li>
              <li class="contacts__days-item">
                <ul class="contacts__list-days">
                  <li>
                    <h4 class="contacts__header-days">Monday - Friday</h4>
                    <p class="contacts__p-days">06:00 AM - 10:00 PM</p>
                  </li>
                  <li>
                    <h4 class="contacts__header-days">Saturday - Sunday</h4>
                    <p class="contacts__p-days">08:00 AM - 16:00 PM</p>
                  </li>
                </ul>
              </li>
              <li class="contacts__item">
                <div class="contacts__email-tel">
                  <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                  <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="contacts__list-item">
            <h3 class="contacts__header-caffe">CAFE</h3>
            <ul class="contacts__item">
              <li class="contacts__description-item">
                <div class="contacts__description">
                  <h4 class="contacts__header-description">New York</h4>
                  <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
              </li>
              <li class="contacts__days-item">
                <ul class="contacts__list-days">
                  <li>
                    <h4 class="contacts__header-days">Monday - Friday</h4>
                    <p class="contacts__p-days">06:00 AM - 10:00 PM</p>
                  </li>
                  <li>
                    <h4 class="contacts__header-days">Saturday - Sunday</h4>
                    <p class="contacts__p-days">08:00 AM - 16:00 PM</p>
                  </li>
                </ul>
              </li>
              <li class="contacts__contacts-item">
                <div class="contacts__email-tel">
                  <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                  <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="contacts__buttons">
        <button class="contacts__button-location" type="button">
          <span class="button-text">Our Locations </span>
          <svg class="button-icon" width="8px" height="8px">
            <use href="./images/icons-contacts.svg#icon-button"></use>
          </svg>
        </button>
        <button class="contacts__button-franchise" type="button">
          <span class="button-text">Franchise </span>
          <svg class="button-icon" width="8px" height="8px">
            <use href="./images/icons-contacts.svg#icon-button"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
