.section-gallery {
  margin: 0 auto;
  background: linear-gradient(to bottom, $lightPink 43%, #fff 43%);
  padding: 90px 0px;
}
.gallery__container {
  padding: 0;
}
.gallery__image {
  display: block;
  max-width: 1280px;
  width: 100%;
}
